body
{
background-color: #edb879;
text-align:center;
}
.header
{
    padding-top: 100px;
font-weight: bold;
font-size : 40px;
padding-bottom: 25px;

}
.ibox {
width: 200px;
/* background-color: yellowgreen; */
margin-left: 20px;
}
.lblArea
{
font-weight:bold;
font-size :20px;
}
.lblPerimeter
{
font-weight:bold;
font-size :20px;
}

#btn1{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    border-radius: 1px;
}